@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeToGrey {
  from {
    background-color: #c0c0c0;
    opacity: 1;
  }
  to {
    background-color: #e0e0e0;
    opacity: 0.6;
  }
}

.grey-out {
  animation: fadeToGrey 0.5s ease forwards;
  color: #666666;
  cursor: not-allowed;
}
